<!doctype html>
<html class="no-js" lang="en">
    
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"
        />
        <title>{{title}}</title>
        <link rel="stylesheet" href="css/foundation.css" />
        <script src="js/vendor/modernizr.js"></script>
    </head>
    
    <body>
        <div class="row">
            <div class="large-12 columns">
                <!--<div class="nav-bar right">-->
                <!-- <ul class="button-group">-->
                <!-- <li>-->
                <!-- <a href="#" class="button">Link 1</a>-->
                <!-- </li>-->
                <!-- <li>-->
                <!-- <a href="#" class="button">Link 2</a>-->
                <!-- </li>-->
                <!-- <li>-->
                <!-- <a href="#" class="button">Link 3</a>-->
                <!-- </li>-->
                <!-- <li>-->
                <!-- <a href="#" class="button">Link 4</a>-->
                <!-- </li>-->
                <!-- </ul>-->
                <!--</div>-->
                <h1>root4me</small>
                </h1>
                <hr/>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns" role="content">
                <article>
                    <h3>
                        <a href="#">{{title}}</a>
                    </h3>
                    <h6>Written by
                        <a href="#">{{author}}</a>on {{date}}</h6>{{{content}}}
                    <div class="row">
                        <div class="large-6 columns">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a condimentum
                                est. In hac habitasse platea dictumst. Nullam pharetra metus egestas purus
                                cursus, ut pulvinar sapien porttitor. Nam ac hendrerit tortor, et varius
                                justo. Donec venenatis pellentesque lacus eu dapibus. Donec molestie commodo
                                commodo. Nullam a velit convallis, lobortis dui non, mattis magna.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a condimentum
                                est. In hac habitasse platea dictumst. Nullam pharetra metus egestas purus
                                cursus, ut pulvinar sapien porttitor. Nam ac hendrerit tortor, et varius
                                justo. Donec venenatis pellentesque lacus eu dapibus. Donec molestie commodo
                                commodo. Nullam a velit convallis, lobortis dui non, mattis magna.</p>
                        </div>
                        <div class="large-6 columns">
                            <img src="http://placehold.it/400x240&text=[img]" />
                        </div>
                    </div>
                </article>
                <hr/>
            </div>
        </div>
        <footer class="row">
            <div class="large-12 columns">
                <hr/>
                <div class="row">
                    <div class="large-6 columns">
                        <p>© Copyright root4me</p>
                    </div>
                    <div class="large-6 columns">
                        <ul class="inline-list right">
                            <li>
                                <a href="#">Link 1</a>
                            </li>
                            <li>
                                <a href="#">Link 2</a>
                            </li>
                            <li>
                                <a href="#">Link 3</a>
                            </li>
                            <li>
                                <a href="#">Link 4</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <script src="js/vendor/jquery.js"></script>
        <script src="js/foundation.min.js"></script>
        <script>
            $(document).foundation();
        </script>
    </body>

</html>