<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Technology for inquisitive minds" />
    <title>root4me | Technology for inquisitive minds </title>

    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>

    <!-- build:css css/foundation.min.css -->
    <link rel="stylesheet" href="../bower_components/foundation/css/foundation.css" />
    <!-- /build -->
    <!-- build:css css/home.min.css -->
    <link rel="stylesheet" href="css/home.css" />
    <!-- /build -->
    <!-- build:js js/modernizr.min.js -->
    <script src="../bower_components/foundation/js/vendor/modernizr.js"></script>
    <!-- /build -->
</head>

<body>
    <!-- top nav -->
    <div class="contain-to-grid sticky">
        <nav class="top-bar" data-topbar role="navigation">
            <ul class="title-area">
                <li class="namelogo">
                    <h1><a href="index.html">root4me</a></h1>
                </li>
                <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a>
                </li>
            </ul>
            <section class="top-bar-section">
                <!-- Right Nav Section -->
                <ul class="right"> </ul>
                <!-- Left Nav Section -->
                <ul class="left">
                    <li></li>
                </ul>
            </section>
        </nav>
    </div>
    <!-- end top nav -->

    <div class="hero">
        <div class="row">
            <div class="large-12 columns intro-text">
                <p>Learn from yesterday,
                    <br> live for today,
                    <br> hope for tomorrow.
                    <br> The important thing is not to stop questioning.</p>
                    <br>-Albert Einstein-
            </div>
        </div>
    </div>

    <div class="row about">
        <div class="medium-6 large-8 columns">
            <h4>About</h4>
            <p>A colleciton of notes, quotes and howtos from my pursuit of knowledge.
                <br>I have feverishly tried to learn and absorb knowledge any chance I get. In fact; most of the time I am not working, I am reading up on things I do not know (Oh ... life before google was so different... grrr).
                Gone through phases of being a tinkerer, maker and a multicopter enthusiast in recent years. Nothing too serious, just enough to keep the creative grey matter alive. 
                Finally, I have come to the phase where I want to write things down.
            </p>
        </div>
        <div class="medium-6 large-4 columns">
            <img src="img/about.jpg">
        </div>
    </div>

    <div class="row work">
        <hr>
        <div class="large-12 columns">
            <h4>Categories</h4>
            <p></p>

            <ul class="clearing-thumbs small-block-grid-1 medium-block-grid-2 large-block-grid-4" data-clearing>
                <li>
                    <a href="https://www.youtube.com/channel/UCX6hM9B14UTycfekFDkJfIw" target="_blank"><img data-caption="youtube=" src="img/youtube.png">
                    </a>
                </li>
                <li>
                    <a href="linux.html"><img data-caption="linux" src="img/linux.png">
                    </a>
                </li>
                <li>
                    <a href="beagle-bone-black.html"><img data-caption="embedded" src="img/embedded.jpg">
                    </a>
                </li>
                <li>
                    <a href="mini-quadcopter-build.html"><img data-caption="multirorot" src="img/multirotor.jpg">
                    </a>
                </li>

            </ul>
        </div>
    </div>

    <footer class="row">
        <div class="large-12 columns">
            <div class="row">
                <div class="large-6 columns">
                    <!--
                    <p>© None ...</p>
                    -->
                </div>
                <div class="large-6 columns">
                    <ul class="inline-list right">
                        <li><a href="#">Top </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


    <!-- build:js js/jquery.min.js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <!-- /build -->
    <!-- build:js js/foundation.min.js -->
    <script src="../bower_components/foundation/js/foundation/foundation.js"></script>
    <!-- /build -->
    <!-- build:js js/foundation.topbar.min.js -->
    <script src="../bower_components/foundation/js/foundation/foundation.topbar.js"></script>
    <!-- /build -->
    <!-- build:js js/content.min.js -->
    <script src="js/content.js"></script>
    <!-- /build -->
</body>

</html>
