<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="root4me" />
  <title>root4me {{ title }}</title>

  <!-- build:css stylesheets/foundation.min.css -->
  <link rel="stylesheet" href="/stylesheets/foundation.css" />
  <!-- /build -->

  <!-- build:css stylesheets/site.min.css -->
  <link rel="stylesheet" href="/stylesheets/site.css" />
  <!-- /build -->

</head>

<body>

This is the articles landing page


<!-- build:js javascripts/jquery.js -->
<script src="../bower_components/jquery/dist/jquery.js "></script>
<!-- /build -->
<!-- build:js javascripts/foundation.js -->
<script src="../bower_components/foundation-sites/dist/foundation.js "></script>
<!-- /build -->

<script src="/javascripts/site.js "></script>
<scritp>
window.location.href="/articles/linux";
</scritp>
</body>

</html>
