<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="root4me" />
  <title>root4me - {{ title }} </title>

  <!-- build:css /stylesheets/foundation.min.css -->
  <link rel="stylesheet" href="/stylesheets/foundation.css" />
  <!-- /build -->

  <!-- build:css /stylesheets/site.min.css -->
  <link rel="stylesheet" href="/stylesheets/site.css" />
  <!-- /build -->

</head>

<body>

  <div class="alert callout" data-closable id="errorAlert" style="display:none;">
    <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
      <div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas>

        <div class="menu-title">
        </div>

        <!-- Menu -->
        <ul class="vertical menu">
          <li><a href="/">Home</a></li>
          <li><a href="/locations">Locations</a></li>
          <li><a href="/articles/how-to-remove-user-name-from-terminal-prompt">Articles</a></li>
        </ul>
      </div>
      <div class="off-canvas position-right" id="offCanvasRight" data-off-canvas data-position="right"></div>
      <div class="off-canvas-content" data-off-canvas-content>
        <div class="header">
          <div class="title-bar">
            <div class="title-bar-left">
              <button class="menu-icon" type="button" data-open="offCanvasLeft"></button>
              <span class="title-bar-title">root4.me</span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="column large-8 large-centered post">
            <article>
              <header>
                <span class="post-title"><h2>{{ title }}</h2></span>
                <span class="post-meta">by {{ author }} <time datetime="{{ date }}">{{ date }}</time> </span>
              </header>

              <section class="post-content">
                {{{content}}}
              </section>
              <section class="post-footer">

                <div class="row">
                  <hr/>
                  <div class="large-6 medium-6 small-12 columns">
                    <a href="{{ prevPage }}">{{ prevPageTitle }}</a>
                  </div>
                  <div class="large-6 medium-6 small-12 columns">
                    <a class="post-footer-next" href="{{ nextPage }}">{{ nextPageTitle }}</a>
                  </div>
                </div>
                <br />
              </section>
            </article>

          </div>
        </div>

        <!-- footer -->
        <footer class="footer">
          <div class="row">
            <div class="column large-8 large-centered">
              <br />
              <p class="links">
                <a href="/">Home</a>
                <a href="#">Top</a>
              </p>
              <p class="copywrite">&copy; 2016 .... Hand crafted with care. Copy, Right &#9786; </p>
            </div>
          </div>
        </footer>
        <!-- end footer -->

      </div>
    </div>
  </div>


      <!-- build:js /javascripts/jquery.js -->
      <script src="../bower_components/jquery/dist/jquery.js "></script>
      <!-- /build -->
      <!-- build:js /javascripts/foundation.js -->
      <script src="../bower_components/foundation-sites/dist/foundation.js "></script>
      <!-- /build -->

  <script src="/javascripts/site.js "></script>

</body>

</html>
